<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
</head>
<body>
    <h1>Employee Details Page</h1>
    <!--Home button to return back to home-->
    <div class="home_button">
        <a href="/" >Home</a>
    </div>

    <!--Query button to reurn back to Query Page-->
    <div class="query_button">
        <a href="/query">Query Employee</a>
    </div>
    <div>
        <h1>Month: Year:</h1>
        <OL>
            <li>Employee Name:{{ emp_name}} </li>
            <li>Employee ID:{{ emp_id}}</li>
            <li>Total no of working days in month: {{ twd }}</li>
            <li>No of days Employee Worked for tyhe current month:{{etwd }}</li>
            <li>Salary calculated:{{ cal_sal }}</li>
        </OL>

    </div>
</body>
</html>