<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query</title>
    <link rel="stylesheet" href="../static/Query.css">
</head>

<body>
    <h1>Welcome to Query Page</h1>
    <div class="home_button">
        <a href="/" >Home</a>
    </div>
    <br>
    <!--Horizontal  black Line-->
    <div class="Horizontal_Line">

    </div>
    <!--Form to get Emplioyee ID-->
    <div>
        <form action="Employee_details" method="GET" >
            <label for="employeeID">Employee ID:</label>
            <input type="number" name="employeeID" required>
            <input type="submit" value="Search">
        </form>
    </div>


</body>
</html>