


.query_button>a {   
    background-color: springgreen;
    width:210px;
    border:2px solid black;
    border-radius: 20%;
    font-size:30px ;
    font-style: italic;
}



.Admin >a {   
    background-color: springgreen;
    width:200px;
    border:1px solid black;
    border-radius: 20%;
    font-size:30px ;
    font-style: italic;

}